.container {
    background-color: #ff4c68;
    padding: 60px;
    margin-left:0px;
   
}
.calc1{
    font-style: italic;
    color:black;
    margin-bottom: 0px;;
    background-color:purple;
    border-bottom: purple;
    text-align:center;

}
#result{
    
    min-width: 100%;
    padding:35px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color:lightgrey;
    color:black;
    font-size: 25px;
}
.heading {
    color: blueviolet;
    position: absolute;
    top: 0px;
    left: 160px;
    max-width: 30rem;
    text-align: center;

}

.card1 {
    position: absolute;
    right: 10px;
    max-height: 100rem;
    padding: 70px;
    background-color: pink;
}

.arm {
    position: absolute;
    right: 0px;
    border-radius: 50%;
    color: orange;

}

.arm1 {
    position: absolute;
    left: 20px;
}

.equal {
    position: absolute;
    right: 170px;

}


.calc {
    text-align: center;
    position: absolute;
    top: 100px;
    left: 680px;
    color: #000000;

}

.zero1 {
    position: absoute;
    left: 20px;
}